<!DOCTYPE html>
<html>
    <head>
        <%include header%>
        <script src="https://cdn.bootcss.com/socket.io/2.0.4/socket.io.js"></script>
        <script>
            var socket = io();
        </script>
    </head>
    <body>
        <div class="container">
            <h2><%=title %></h2>
        </div>
    </body>
</html>
