<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="/css/common.css"/>
		<style type="text/css">
			canvas{
				background-color: #f0f0f0;
			}
		</style>
	</head>
	<body>
		<canvas id="game" width="500" height="512"></canvas>
		<div class="">
		</div>
		<script src="/js/Neuroevolution.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/ai.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			
		</script>
	</body>
</html>
