<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8"/>
  	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/steam.css"/>
    <script src="/js/vue.js" type="text/javascript" charset="utf-8"></script>
    <style type="text/css">
    </style>
  </head>
  <body>
    <div class="container" id="scroll-container">
    	<div class="" id="steam_app" v-cloak="">
    		<div class="container-button">
    			<input type="button" id="updateData" class="update-btn" ng-click="updateData()" value="U" />
    		</div>
    		<div class="container-list">
    			<ul>
    				<li v-for="game of games" >
    					<div class="gamelist-left">
    						<img :src="game.image" style="opacity: 0.1;"/>
    						<span class="discount" v-if="game.discount != 0">{{game.discount}}</span>
    					</div>
    					<div class="gamelist-right">
    						<h5>
    							<a :href="game.href">
    								{{game.name}}
    							</a>
    						</h5>
    						<div class="game-price">
										<span v-bind:class="{true: 'del-price'}[game.newPrice != 0]">￥{{game.price}}</span>
			    					<span v-if="game.newPrice != 0">
			    						￥{{game.newPrice}}
			    					</span>
    						</div>
    					</div>
    				</li>
    			</ul>
    		</div>
    		<div class="loading-container" id="loading-container">
					<i class="icon icon-loading"></i>
				</div>
    	</div>
    </div>
    <script type="text/javascript">
    	var loading = document.getElementById("loading-container");
    	console.log(loading);
    	var app = new Vue({
    		el: "#steam_app",
    		data: {
    			games: []
    		}
    	})
    	
    	var totalPage = <%=totalPage %>;
//  	上拉加载
			document.body.onscroll = function(){
				var scrollTop = document.body.scrollTop;
				var winH = document.documentElement.clientHeight;
				var scrollHeight = document.documentElement.scrollHeight;
				if(scrollHeight == winH + scrollTop){
					if(pageNum < totalPage){
						pageNum++;
						loading.style.display = "block";
						setTimeout(function(){
							getSteam(pageNum);
							loading.style.display = "none";							
						}, 1000);
					}
				}
			}
    	
    	var pageNum = 1;
    	
    	function getSteam(pageNum){
	    	fetch('/steam/getSteam?pageNum='+pageNum, {
	    		method: "get",
	    	})
	    		.then(res => res.json())
	    		.then(data => {
	    			console.log(data);
	    			app.games = app.games.concat(data.data);
	    		});
    	}
    	getSteam(pageNum);
    </script>
  </body>
</html>
