<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="/css/common.css"/>
		<title></title>
		<style type="text/css">
			.webgl-tab{
				display: flex;
				border-bottom: 1px solid #DDDDDD;
			}
			.webgl-tab a{
				display: inline-block;
				line-height: 3em;
				flex: 1;
				text-align: center;
				font-size: 12px;
				color: #333333;
			}
			.webgl-content{
				display: none;
			}
		</style>
	</head>
	<body>
		<div class="webgl-conatiner">
			<div class="webgl-tab">
				<a href="#" onclick="baseThree()">基础</a>
				<a href="#" onclick="loadModel()">模型</a>
			</div>
			<div class="webgl-content webgl-base">
				
			</div>
			<div class="webgl-content webgl-obj">
				
			</div>
		</div>
		<script src="/js/three.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/OrbitControls.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/OBJLoader.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/webgl.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			
		</script>
	</body>
</html>
