<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="/css/common.css" />
		<title></title>
		<style type="text/css">
			.square{
				position: fixed;
				top: 50%;
				left: 50%;
				margin-left: -75px;
				margin-top: -75px;
				width: 150px;
				height: 150px;
				background-color: #F08B2F;
				transition: 0.1s;
			}
		</style>
	</head>

	<body>
		<div class="container">
			<p id="alpha"></p>
			<p id="beta"></p>
			<p id="gamma"></p>
		</div>
		<div class="square" id="square">
			
		</div>
		<script type="text/javascript">
			var alpha = document.getElementById("alpha");
			var beta = document.getElementById("beta");
			var gamma = document.getElementById("gamma");
			var square = document.getElementById("square");
			window.addEventListener("deviceorientation", function(event) {
				// 处理event.alpha、event.beta及event.gamma
				alpha.innerText = event.alpha;
				beta.innerText = event.beta;
				gamma.innerText = event.gamma;
				square.style.transform = "rotate("+event.alpha+"deg)";
			}, true);
		</script>
	</body>

</html>